html,
body,
h1 {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

section.hero {
	display: grid;
	place-items: center;
	position: relative;
	height: 100svh;

	animation: fade-out linear;
	animation-timeline: view();
	animation-range: exit -200px;
}

section.hero .header-image {
	grid-column: 1/-1;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	object-fit: cover;
	z-index: -1;

	transform-origin: bottom;

	animation: header-image-animations linear forwards;
	animation-timeline: view();
	animation-range: exit;
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes header-image-animations {
	25% {
		opacity: 1;
	}
	85%,
	100% {
		opacity: 0;
		scale: 3;
	}
}

.scroll-watcher {
	height: 2px;
	position: fixed;
	background-color: lime;
	top: 0;
	width: 100%;
	z-index: 1000;
	scale: 0 1;
	animation: scroll-watcher linear;
	animation-timeline: scroll(y);
	transform-origin: left;
}

@keyframes scroll-watcher {
	to {
		scale: 1 1;
	}
}

section:not(.hero) img {
	scale: 0.8;
	opacity: 0;
	animation: fade-in linear forwards;
	animation-timeline: view();
	animation-range: 250px 500px;
}

@keyframes fade-in {
	to {
		scale: 1;
		opacity: 1;
	}
}

/* Scroller */

.scroller {
	overflow: hidden;
	-webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
	mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller__inner li {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}

.scroller .scroller__inner {
	list-style: none;
	width: max-content;
	margin: 5px;
	display: flex;
	gap: 1rem;
	flex-wrap: nowrap;
	animation: scrolling linear;
	animation-timeline: scroll(root);
}

.scroller[data-direction="opposite"] .scroller__inner {
	animation-direction: reverse;
}

@keyframes scrolling {
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}
